.body{
    padding: 17px;
    text-align: center;
    .footer{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
         margin: 0.4rem auto;
     
    }
  }